<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng Ký</title>
</head>
<body>
<h2>Đăng Ký Người Dùng</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label>Tên Đăng Nhập:</label>
        <input type="text" th:field="*{username}" />
        <br>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;"></span>
    </div>
    <div>
        <label>Mật Khẩu:</label>
        <input type="password" th:field="*{password}" />
        <br>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"  style="color:red;"></span>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" />
        <br>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  style="color:red;"></span>
    </div>
    <div>
        <label>Role:</label>
        <select th:field="*{role}">
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
        </select>
    </div>
    <button type="submit">Đăng Ký</button>
</form>
</body>
</html>